@import 'reset';
$blue: #84C8FF;
$green: #6DE89B;
body {
    line-height: 1.3;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    div {
        flex-basis: 33%;
        text-align: center;
    }
}

main {
    margin: 2rem auto 0;
    width: 90%;
}

section {
    position: absolute;
    top: 5rem;
    input {
        border: 1px solid $blue;
        border-radius: 10px;
        padding: .25rem;
        &:focus {
            outline: none;
        }
        &.searchBox {
            border: 1px solid $green;
        }
    }
    &.two {
        div.search {
            width: 90%;
            ul.resultsList {
                list-style-type: none;
                li {
                    border: 1px solid $blue;
                    border-radius: 10px;
                    padding: .33rem;
                    margin: .33rem 0;
                    &.added {
                        border: 1px solid black;
                        // &::after{
                        //  content: 'Added!';
                        // }
                    }
                }
            }
        }
    }
    &.three {
        div.compareGame {
            border: 1px solid $blue;
            border-radius: 10px;
            padding: .33rem;
            margin: .33rem 0;
        }
    }
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

form.error {
    &::after {
        content: 'Please enter a number!';
        display: block;
    }
}
