@import 'reset';
$blue: #96CBBB;
$green: #6DE89B;
$orange: #FF471A;
$black: #3D3D3D;
$white: #F7F7F7;
@function tint($color, $number) {
    @return mix(white, $color, $percentage);
}

body {
    background: $black;
    color: $white;
    font-family: Arial;
    font-size: 25px;
    line-height: 1.3;
    width: 100%;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    div {
        flex-basis: 33%;
        padding: .33rem;
        text-align: center;
        &.current{
        	box-shadow: 1px 1px 10px $black;
        }
        &:nth-of-type(1) {
            background: $orange;
            &.current {
                background: $blue;
            }
        }
        &:nth-of-type(2) {
            background: lighten($orange, 7.5%);
            &.current {
                background: lighten($blue, 5%);
            }
        }
        &:nth-of-type(3) {
            background: lighten($orange, 15%);
            &.current {
                background: lighten($blue, 10%);
            }
        }
    }
}

main {
    margin: 2rem auto 0;
}

section {
    position: absolute;
    top: 5rem;
    width: 100%;
    button{
    	background: $orange;
    	border-radius: 3px;
    	box-shadow: 1px 1px 1px $orange;
    	color: $white;
		padding: .25rem;
    }
    input {
        background: $white;
        margin-top: 1.5rem;
        padding: .25rem 0;
        &:focus {
            outline: none;
        }
        &.searchBox {}
    }
    &.one,
    .two {
        top: 7rem;
    }
    &.two {
        div.search {
            div.searchResults {
                font-size: 20px;
            }
            ul.resultsList {
                list-style-type: none;
                li {
                    padding: .8rem;
                    transition: background 1s linear;
                    &.added {
                    	box-shadow: 1px 1px 10px;
                        color: $black;
                    }
                    &:nth-of-type(1) {
                        background: $orange;
                        &.added {
                            background: $blue;
                        }
                    }
                    &:nth-of-type(2) {
                        background: lighten($orange, 2.5%);
                        &.added {
                            background: lighten($blue, 2.5%);
                        }
                    }
                    &:nth-of-type(3) {
                        background: lighten($orange, 5%);
                        &.added {
                            background: lighten($blue, 5%);
                        }
                    }
                    &:nth-of-type(4) {
                        background: lighten($orange, 7.5%);
                        &.added {
                            background: lighten($blue, 7.5%);
                        }
                    }
                    &:nth-of-type(5) {
                        background: lighten($orange, 10%);
                        &.added {
                            background: lighten($blue, 10%);
                        }
                    }
                    &:nth-of-type(6) {
                        background: lighten($orange, 12.5%);
                        &.added {
                            background: lighten($blue, 12.5%);
                        }
                    }
                    &:nth-of-type(7) {
                        background: lighten($orange, 15%);
                        &.added {
                            background: lighten($blue, 15%);
                        }
                    }
                    &:nth-of-type(8) {
                        background: lighten($orange, 17.5%);
                        &.added {
                            background: lighten($blue, 17.5%);
                        }
                    }
                    &:nth-of-type(9) {
                        background: lighten($orange, 20%);
                        &.added {
                            background: lighten($blue, 20%);
                        }
                    }
                    &:nth-of-type(10) {
                        background: lighten($orange, 22.5%);
                        &.added {
                            background: lighten($blue, 22.5%);
                        }
                    }
                }
            }
            div.compareError {
                min-height: 3rem;
            }
            button.goToCompare {
                // &.error {
                //     &::after {
                //         content: 'Select games to compare';
                //         display: block;
                //     }
                // }
            }
        }
    }
    &.three {
        div.compare {
            font-size: 20px;
        }
        div.compareGame {
            background: $orange;
            padding: .33rem;
            // margin: .33rem 0;
            opacity: 1;
            transition: opacity .5s linear;
            p.resultsTitle{
            	font-size: 110%;
            }
            p:not(.resultsTitle){
            	font-size: 90%;
            }
            &.deleted {
                opacity: 0;
            }
            div.deleteButton {
                background: $blue;
                border-radius: .5rem;
                color: $black;
                float: right;
                height: 1.5rem;
                right: 1rem;
                text-align: center;
                width: 1.5rem;
            }
            &:nth-of-type(1) {
                background: $orange;
            }
            &:nth-of-type(2) {
                background: lighten($orange, 2.5%);
            }
            &:nth-of-type(3) {
                background: lighten($orange, 5%);
            }
            &:nth-of-type(4) {
                background: lighten($orange, 7.5%);
            }
            &:nth-of-type(5) {
                background: lighten($orange, 10%);
            }
            &:nth-of-type(6) {
                background: lighten($orange, 12.5%);
            }
            &:nth-of-type(7) {
                background: lighten($orange, 15%);
            }
            &:nth-of-type(8) {
                background: lighten($orange, 17.5%);
            }
            &:nth-of-type(9) {
                background: lighten($orange, 20%);
            }
            &:nth-of-type(10) {
                background: lighten($orange, 22.5%);
            }
        }
    }
}

.visible { 
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}

form.error {
    &::after {
        content: 'Please enter a number up to 24.';
        display: block;
    }
}
